<!doctype html>
<title>OSIAM NG</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
    <h1>OSIAM NG</h1>
    <div class="menu" id="page_header">
        <ul>
            <li><a href="/redirect">Get Access Token</a></li>
            <li><a href="/get/User">GET USER</a></li>
            <li><a href="/replace/User">PUT USER</a></li>
            <li><a href="/create/User">POST USER</a></li>
            <li><a href="/update/User">PATCH USER</a></li>
            <li><a href="/delete/User">DELETE USER</a></li>
            <!-- groups -->
            <li><a href="/get/group">GET GROUP</a></li>
            <li><a href="/replace/group">PUT GROUP</a></li>
            <li><a href="/create/group">POST GROUP</a></li>
            <li><a href="/update/group">PATCH GROUP</a></li>
            <li><a href="/delete/group">DELETE GROUP</a></li>
        </ul>
    </div>
    {% block body %}{% endblock %}
</div>
